@charset "UTF-8";
/*관리자 페이지 컨텐츠 영역*/
.admin_content_wrap {
	width: 80%;
	float: left;
	height: 100%;
}
.admin_content_wrap form {
	margin-top: 6px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}
/*button 영역*/
.btn {
	min-width: 180px;
	padding: 4px 30px;
	font-size: 25px;
	font-weight: 600;
	line-height: 40px;
}
.enroll_btn {
	background-color: #dbdde2;
	margin-left: 15px;
}
