@charset "UTF-8";
/*관리자 페이지 컨텐츠 영역*/
.admin_content_wrap {
	width: 80%;
	float: left;
	height: 100%;
}
.admin_content_wrap div {
	margin-top: 6px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}
/*상품 등록 button 영역*/
.top_btn {
   font-size: 25px;
   padding: 6px 12px;
   background-color: #fff;
   border: 1px solid #ddd;
   font-weight: 600;
   margin: 10px;
   width: 200px;
   height: 50px;
}
.prodList {
	font-size: 23px;
	border-collapse: collapse;
}
.th_column_1 {width: 150px;}
.th_column_2 {width: 150px;}
.th_column_3 {width: 150px;}
.th_column_4 {width: 150px;}
.th_column_5 {width: 150px;}
/*값이 없을 때*/
.table_empty {
	height: 50px;
	text-align: center;
	margin: 200px 0px 215px 0px;
	font-size: 25px;
}
/*검색 영역*/
.search_wrap {
	margin-top: 15px;
}
.search_input {
	position: relative;
	text-align: center;
}
.search_input input[name='keyword'] {
	padding: 4px 10px;
	fint-size: 15px;
	height: 20px;
	line-height: 20px;
}
.search_btn {
	height: 32px;
	width: 80px;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	position: absolute;
	margin-left: 15px;
	background-color: #c3daf7;
}
.pageMaker {
   list-style: none;
   display: inline-block;
   margin: 50px 0 0 100px;
}
.pageMaker li {
   float: left;
   font-size: 20px;
   margin-left: 18px;
   padding: 7px;
   font-weight: 500;
}
.pageMaker_btn {
	position: relative;
}
.pageMaker_btn:hover {
	background: gray;
}