@charset "UTF-8";
.img_wrap {
	position: relative;
	text-align: left;
	font-size: 30px;
}
.img_wrap input {
	width: 150px;
	height: 100px;
	font-size: 30px;
	
}
.input_wrap {
	position: relative;
	text-align: left;
	font-size: 30px;
}
.btn_wrap {
	text-align: center;
	margin: 80px 0;
}
.btn {
	min-width: 180px;
	padding: 4px 30px;
	font-size: 25px;
	font-weight: 600;
	line-height: 40px;
}