@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
/* 화면 전체 렙 */
.wrapper {
	width: 100%;
}
/* content 랩 */
.wrap {
	width: 100%
	margin: auto;
}
/* 홈페이지 기능 네비 */
.top_gnb_area {
	width: 100%;
	height: 50px;
	background-color: #f0f0f1;
	position: relative;
}

.top_gnb_area .list {
	position: absolute;
	top: 0px;
	right: 0;
}

.top_gnb_area .list li {
	list-style: none;
	float: left;
	padding: 13px 15px 0 10px;
	font-weight: 900;
	cursor: pointer;
}

/* 홈페이지 메인 제품 목록  */
.content_area {
	width: 1080px;
	min-height: 1000px;
	position: relative;
	margin: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

.table_text_align_center {
	text-align: center;
}

caption {
	visibility: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

.content_subject span {
	padding-left: 30 px;
	display: inline-block;
	color: white;
	font-size: 50px;
	font-weight: bolder;
}

.content_totalCount_section {
	margin-bottom: 12px;
	width: 700px;
	display: inline-block;
	position: relative;
}

.content_total_section{
	width: 290px;
	display: block;
	position: relative;
	top: -60px;
	left: 750px;
	border: 1px solid gray;
	padding-top: 15px;
	padding-bottom :15px;
	padding-left: 30px;
	line-height: 30px;
	
}
.boundary_div{
	border-bottom: 1px solid black;
	width: 100px;
	padding-bottom: 10px;
}

.content_btn_section {
	position: relative;
	display: block;
	border: 1px solid black;
	width: 315px;
	height: 30px;
	text-align: center;
	padding-top: 10px;
	left: 750px;
	top:-40px;
	background-color: black;
	color: white;
	font-size : 15px;
}
.continue_btn_section{
	position: relative;
	display: block;
	border: 1px solid black;
	width: 315px;
	height: 30px;
	text-align: center;
	padding-top: 10px;
	left: 750px;
	top: -45px;
	font-size: 15px;
	
}

.deliver_p{
	font-size: 10px;
	color: silver;
}
.top_gnb_area li a:visited{
	color: black;
}

/*
.content_btn_section a {
	min-width: 125px;
	display: block;
	position:right;
	height: 39px;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	margin-right: 14px;
	line-height: 39px;
}
*/

.subject_table {
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	text-align: center;
}

/*표 안쪽 내용*/

.td_width_1 {
	width: 5%;
}

.td_width_2 {
	width: 10%;
}

.td_width_3 {
	
width: 25%;
	
}

.td_width_4 {
	width: 15%;
}

.cart_table {
	font-size: 15px;
	line-height: 20px;
	
}

.cart_table tr {
	height: 110px;

}

.price_td {
	padding-left: 20px;
}

.red_color {
	color: red;
}

.green_color {
	color: green;
}

.cart_table td {
	border-bottom: 1px solid #e7e7e7;
}
.cart_span{
	float: right;
	margin-right: 30px;
	
}
/* 이미지 */
		.image_wrap{
			width: 100%;
			height: 100%;
		}
		.image_wrap img{
		    max-width: 60%;
		    height: auto;
		    display: block;		
		}


.quantity_div {
	position: relative;
	width: 42px;
	height: 25px;
	text-align: left;
	margin: 5px auto;
}

.quantity_input {
	position: absolute;
	width: 27px;
	height: 23px;
	text-align: center;
	border: 1px solid #c6c6c6;
	border-right: 0px;
	line-height: 19px;
	font-size: 12px;
	color: #4c4848;
	left: 0;
}

.quantity_btn {
	position: absolute;
	border: 1px solid #aaa;
	color: #3a60df;
	width: 14px;
	height: 13px;
	padding: 0px;
	background-color: #fff;
	font-weight: bold;
	font-size: 7px;
	line-height: 6px;
	vertical-align: middle;
}

.plus_btn {
	top: 0;
	right: 0
}

.minus_btn {
	bottom: 0;
	right: 0
}

.quantity_modify_btn {
	border: 1px solid #d0d0d0;
	height: 13px;
	line-height: 13px;
	background-color: #fff;
	text-align: center;
	width: 35px;
	display: inline-block;
	padding: 3px 6px 2px;
	margin-top: 3px;
}
.total_pr{
	padding-top: 10px;
}
.table_text_align_center {
	text-align: center;
}

.delete_btn {
	width: 40px;
	border:none;
	background-color: white;
	text-decoration: underline;
}

/* 로그인 성공 영역 */
.login_success_area {
	height: 62%;
	width: 80%;
	border: 2px solid #7474ad;
	border-radius: 15px;
	margin: 5% auto;
	padding-top: 5%;
}

.login_success_area>a {
	font-size: 15px;
	font-weight: 900;
	display: inline-block;
	margin-top: 5px;
	background: #e1e5e8;
	width: 82px;
	height: 22px;
	line-height: 22px;
	border-radius: 25px;
	color: #606267;
}

.login_success_area>span {
	display: block;
	text-align: left;
	margin-left: 10%;
}

/* 검색결과 없음 */
.table_empty {
	height: 50px;
	text-align: center;
	margin: 200px 0 215px 0px;
	font-size: 25px;
}

/* 필터정보 */
.search_filter {
	width: 85%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 50px;
}

.filter_button_wrap {
	width: 100%;
}

.filter_button_wrap button {
	width: 50%;
}

.filter_button {
	background-color: #04AA6D;
	border: 1px solid green;
	color: white;
	padding: 10px 24px;
	cursor: pointer;
	float: left;
}

.filter_button_wrap:after {
	content: "";
	clear: both;
	display: table;
}

.filter_button_wrap button:not(:last-child) {
	border-right: none;
}

.filter_button:hover {
	background-color: #3e8e41;
}

.filter_active {
	background-color: #045d3c;
}

.filter_content {
	padding: 20px 50px 20px 50px;
	border: 1px solid gray;
}

.filter_content a:not(:first-child) {
	margin-left: 10px;
}

.filter_a {
	display: block;
}

.filter_b {
	display: none;
}

/*footer navi 영역*/
.footer_nav{
	width: 100%;
	height: 50px;
}
.footer_nav_container{
	width: 100%;
	height: 100%;
	border: 0.5px solid black;
}
.footer_nav_container>ul{
	font-weight: bold;
	float: left;
	list-style: none;
	position: relative;
	padding-top: 10px;
	line-height: 27px;
	font-family: dotum;
	margin-left:20px;
}
.footer_nav_container>ul>li{
	display: inline;
	width: 45px;
	height: 19px;
	padding: 10px 9px 0 10px;
}

.footer_nav_container>ul>span{
	margin: 0 4px;
}
/*footer영역*/
.footer{
	width: 100%;
	height: 130px;

	padding-bottom: 50px;
}

.footer_container{
	width: 100%;
	height: 100%;
	margin: auto;
}
.footer_left>img{
	width: 150%;
	height: 50px;
	margin-left: -20px;
	margin-top: 10px;
}
.footer_left{
	float: left;
	width: 170px;
	margin-left: 60px;
	margin-top: 30px;
}
.footer_right{
	float: left;
	width: 680px;
	margin-left:140px;
	margin-top: 30px;
}
/* float 속성 해제 */
.clearfix {
	clear: both;
}