@charset "UTF-8";
*{
	margin:0;
	padding:0;

}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}
/*화면 전체 랩*/
.wrapper{
	width: 100%;
	height: 1000px;
}

/*content wrap*/
.wrap{
	width:100%;
	margin: auto;
}


/* gnb영역 */
/*홈페이지 로그인*/
.top_gnb_area{
	width: 100%;
	height: 50px;
	background-color: white;
	position: relative;
	list-style: none;
	
}

.top_gnb_area{
	position: relative;
}
.top_gnb_area .top_left{
	position: absolute;
	top:0px;
	left: 150px;
}
.top_gnb_area .top_left li{
	list-style: none;
	float: left;
	padding: 13px 15px 0 10px;
	cursor: pointer;
}

.top_gnb_area .top_right{
	position: absolute;
	top: 0px;
	right: 10px;
}
.top_gnb_area .top_right li{
	list-style: none;
	float: left;
	padding: 13px 15px 0 10px;
	cursor: pointer;
}

/*로그인 성공 영역*/
.login_success_area>a{
	font-size: 13px;
	font-weight: 900;
	display: inline-block;
	top:2px;
	position: absolute;
	
}

.top_gnb_area .top_left li a{color:black; font-size:20px; text-decoration: none;}
.a:link{color:black; text-decoration: none;}
.a:visited{color: black; text-decoration: none;}

.top_gnb_area .top_right li a{color:black; font-size:20px; text-decoration: none;}
.a:link{color:black}
.a:visited{color: black;}
.top_gnb_area .top_right li{color:black; font-size:20px;}
.li:link{color:black}
.li:visited{color: black;}

/*로고*/

.top_gnb_area a{
	width: 150px;
	height: 50px;
	margin-left: 20px;
}
.logo{
	width: 180px;
	height: 120%;
	object-fit:cover;
}


/*홈페이지 메인*/
.content_area{
	width: 100%;
	height: 900px;
	background-image: url("../img/Main.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}
.btn-navi{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 30px;
	top: 500px;
	font-size: 13px;
	font-weight: bold;
	color: gray;
	border: 1px solid silver;
	
}
.content_area p{
	color: white;
	font-size: 45px;
	font-weight: 900;
	position: relative;
	top: 500px;
	text-align: center;
	
}

/*footer*/

.footer1{
	position: absolute;
	bottom: 0;
}
/*footer navi 영역*/
.footer_nav{
	width: 100%;
	height: 50px;
}
.footer_nav_container{
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
}
.footer_nav_container>ul{
	font-weight: bold;
	float: left;
	list-style: none;
	position: relative;
	padding-top: 10px;
	line-height: 27px;
	font-family: dotum;
	margin-left:20px;
}
.footer_nav_container>ul>li{
	display: inline;
	width: 45px;
	height: 19px;
	padding: 10px 9px 0 10px;
}

.footer_nav_container>ul>span{
	margin: 0 4px;
}
/*footer영역*/
.footer{
	width: 100%;
	height: 140px;
	background-color: black;
	padding-bottom: 50px;
	
}

.footer_container{
	width: 100%;
	height: 100%;
	float: left;
	
}
.footer_left>img{
	width: 150%;
	height: 50px;
	float: left;
	margin-top: 5px;
}
.footer_left{
	float: left;
	width: 170px;
	margin-left: 60px;
	margin-top: 30px;
}
.footer_right{
	float: left;
	width: 680px;
	margin-left:140px;
	margin-top: 10px;
	color: white;
}
/*float 속성 해제*/
.clearfix{
	clear: both;
}
