@charset "UTF-8";

.order-details {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
}

.order-summary,
.shipping-details,
.order-items {
  margin-bottom: 20px;
}

.order-summary h3,
.shipping-details h3,
.order-items h3 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tfoot td {
  text-align: right;
  font-weight: bold;
}

.order-items img {
  display
