# Created by https://www.toptal.com/developers/gitignore/api/java,eclipse,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=java,eclipse,windows

pom.properties
MANIFEST.MF

# sbteclipse plugin
.target

# STS (Spring Tool Suite)
.springBeans

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

### Eclipse Patch ###
# Spring Boot Tooling
.sts4-cache/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# End of https://www.toptal.com/developers/gitignore/api/java,eclipse,windows