@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
/*화면 전체 랩*/
.wrapper {
	width: 100%;
}
.wrap {
	width: 1080px;
	margin: auto;
}
/*홈페이지 기능 네비*/
.top_gnb_area {
	width: 100%;
	height: 50px;
	background-color: #f0f0f1;
	position: relative;
}
.top_gnb_area .list {
	position: absolute;
	top: 0px;
	right: 0;
}
.top_gnb_area .list li{
	list-style: none;
	float: left;
	padding: 13px 15px 0 10px;
	font-weight: 900;
	cursor: pointer;
}
/*관리자 페이지 상단 현재 페이지 정보*/
.admin_top_wrap {
	height: 110px;
	line-height: 110px;
	background-color: #5080bd;
}
.admin_top_wrap > span {
	margin-left: 30px;
	display: inline-block;
	color: white;
	font-size: 50px;
	font-weight: bold;
}
.admin_wrap {
	
}
.admin_navi_wrap {
	width: 20%;
	float: left;
	height: 100%;
}
.admin_navi_wrap li {
	display: block;
	height: 80px;
	line-height: 80px;
	text-align: center;
}
.admin_navi_wrap li a {
	display: block;
	height: 100%;
	width: 95%;
	margin: 0 auto;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
}