@charset "UTF-8";

/* 중복아이디 존재하지 않는 경우 */
.id_input_re_1{
	color: green;
	display: none;
}
/*중복아이디 존재하는 경우 */
.id_input_re_2{
	color: red;
	display: none;
}

/* 인증번호 일치 */
.correct{
	color: green;
}
/* 인증번호 불일치 */
.incorrect{
	color: red;
}

/* 유효성 검사 문구 */
.final_id_ck{
	display: none;
}
.final_pw_ck{
	display: none;
}
.final_pwck_ck{
	display: none;
}
.final_name_ck{
	display: none;
}
.final_email_ck{
	display: none;
}
.final_addr_ck{
	display: none;
}

/* 비밀번호 확인 일치 유효성 검사 */
.pwck_input_re_1{
	color: green;
	display: none;
}
.pwck_input_re_2{
	color: red;
	display: none;
}