<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tam.mapper.UserOrderMapper">

	<!-- 주문 상품 정보(주문 페이지) -->
	<select id="prodInfo" resultType="com.tam.model.OrderPageItemDTO"> 
		select prodNum, prodName, price from product 
		where prodNum = #{prodNum} 
	</select>

	<!-- 유저 정보 -->
	<select id="userInfo" resultType="com.tam.model.MemberVO"> 
		select * from member 
		where id=#{id} 
	</select>
	
	<!-- 유저 사용가능 포인트 정보 -->
	<select id="userPoint" resultType="com.tam.model.Point2DTO">
		select point from point
		where id=#{id} and pointStatus=0
	</select>
	<!-- 유저 사용한 포인트 정보 -->
	<select id="userPoint2" resultType="com.tam.model.Point2DTO">
		select point from point
		where id=#{id} and pointStatus=1
	</select>
	
	<!-- 주문 상품 정보(주문 처리) -->
	<select id="orderInfo" resultType="com.tam.model.OrderDetailDTO">
		select prodNum, price as prodPrice from product
		where prodNum = #{prodNum}
	</select>

	<!-- 주문 테이블 등록 -->
	<insert id="enrollUserOrder"> 
		insert into oorder(orderNum, id, orderPrice, orderDate, orderPay, orderStatus, orderRecv, orderPost, orderAddr1, orderAddr2, orderMsg, orderPointIn, orderPointOut) 
		values(#{orderNum}, #{id}, #{orderFinalPrice}, sysdate, 'X', '상품준비', #{orderRecv}, #{orderPost}, #{orderAddr1}, #{orderAddr2}, #{orderMsg}, #{orderPointIn}, #{orderPointOut})
	</insert>
	
	<!-- 주문 상세 테이블 등록 -->
	<insert id="enrollOrderDetail"> 
		insert into orderDetail(odNum, orderNum, prodNum, odStock, odPrice)
		values(od_seq.nextval, #{orderNum}, #{prodNum}, #{prodCount}, #{prodPrice}) 
	</insert>
	
	<!-- 포인트 적립 -->
	<insert id="pointIn">
		insert into point(pointNum, id, point, pointStatus, pointContent)
		values(point_seq.nextval, #{id}, #{orderPointIn}, 0, '상품 구매 적립')
	</insert>
	
	<!-- 포인트 차감 -->
	<insert id="pointOut">
		insert into point(pointNum, id, point, pointStatus, pointContent)
		values(point_seq.nextval, #{id}, #{orderPointOut}, 1, '상품 구매')
	</insert>
	
	<!-- 장바구니 삭제 -->
	<delete id="deleteCart"> 
		delete from cart 
		where id=#{id} and prodNum=#{prodNum}
	</delete>
	
	<!-- 주문 재고 차감 -->
	<update id="deductStock">
		update product set stock=#{stock}
		where prodNum=#{prodNum}
	</update>
	
	<!-- 상품 정보 -->
	<select id="productInfo" resultType="com.tam.model.ProductVO">
		select * from product
		where prodNum=#{prodNum}
	</select>
	
	<!-- myOrder -->
	
	<!-- 주문 정보 리스트 -->
	<select id="myOrderList" resultType="com.tam.model.Order2DTO">
		<![CDATA[
			select * from
			(
				select rownum rn, orderNum, id, orderStatus, orderDate
				from oorder
				where id = #{id}
				and rownum <= #{pageNum} * #{amount}
		]]>
			<if test="keyword != null">
				and orderNum like '%' || #{keyword} || '%'	
			</if>
		<![CDATA[
				order by orderDate desc
			)
			where rn > (#{pageNum}-1) * #{amount}
		]]>
	</select>
	
	<!-- 상품 총 개수 -->
	<select id="myOrderTotal" resultType="int">
		select count(*) from oorder
		where id=#{id}
	<if test="keyword != null">
		and orderNum like '%' || #{keyword} || '%'	
	</if>
	</select>
	
	<!-- 주문 상세정보 -->
	<select id="myOrderDetail" resultType="com.tam.model.OrderDetailDTO">
		select odNum, orderNum, prodNum, odStock as prodCount, odPrice as prodPrice from orderDetail
		where orderNum=#{orderNum}
	</select>
	
	<!-- 주문 정보 -->
	<select id="myOrder" resultType="com.tam.model.Order2DTO">
		select * from oorder
		where orderNum=#{orderNum}
	</select>

</mapper>