@charset "UTF-8";
/* 각자 CSS에 추가해줄것*/
*{
	margin:0;
	padding:0;

}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}
/*화면 전체 랩*/
.wrapper{
	width: 100%;
	height: 800px;
}

/*content wrap*/
.wrap{
	width:100%;
	height: 700px;
	margin: auto;
}


/* gnb영역 */
/*홈페이지 로그인*/
.top_gnb_area{
	width: 100%;
	height: 50px;
	background-color: white;
	position: relative;
	list-style: none;
	
}

.top_gnb_area{
	position: relative;
}
/*네비바 왼쪽 로고이미지, 제품보기*/
.top_gnb_area .top_left{
	position: absolute;
	top:0px;
	left: 150px;
}

.top_gnb_area .top_left li{
	list-style: none;
	float: left;
	padding: 13px 15px 0 10px;
	cursor: pointer;
}
/*네비바 오른쪽 */
.top_gnb_area .top_right{
	position: absolute;
	top: 0px;
	right: 10px;
}
.top_gnb_area .top_right li{
	list-style: none;
	float: left;
	padding: 13px 15px 0 10px;
	cursor: pointer;
}

/*로그인 성공 영역*/
.login_success_area>a{
	font-size: 13px;
	font-weight: 900;
	display: inline-block;
	top:2px;
	position: absolute;
	
}

.top_gnb_area .top_left li a{color:black; font-size:20px; text-decoration: none;}
.a:link{color:black; text-decoration: none;}
.a:visited{color: black; text-decoration: none;}

.top_gnb_area .top_right li a{color:black; font-size:20px; text-decoration: none;}
.a:link{color:black}
.a:visited{color: black;}
.top_gnb_area .top_right li{color:black; font-size:20px;}
.li:link{color:black}
.li:visited{color: black;}

/*로고*/
.top_gnb_area a{
	width: 150px;
	height: 50px;
	margin-left: 20px;
}
.logo{
	width: 180px;
	height: 100%;
	object-fit:cover;
	
}
/* 여기까지 헤더 */

/*로그인*/

#login_form{
	width: 400px;
	height: 500px;
	border: 1px solid silver;
	margin: auto;
	padding-top:70px;
	padding-left: 70px;
	margin-top: 60px;
}
#login_form span{
	float: left;
	font-size: 25px;
}


.logo_wrap{
	float: center;
	margin-top: 40px;

}

/*아이디 영역*/
.id_wrap{
	width:100%;
    margin-top: 20px;
}
.id_name{
	font-size: 15px;
   
}
.id_input_box{
	margin-top: 12px;
	width: 72%;
	border: 1px solid black;
	height:31px;
	
	
}
.id_input{
	width:90%;
	height:100%;
	border:none;
	font-size:20px;
	margin-left: 10px;
}

/*비밀번호 영역*/
.pw_wrap{
	width:100%;
    margin-top: 20px;
}
.pw_name{
	font-size: 15px;
   
}
.pw_input_box{
	margin-top: 12px;
	width: 72%;
	border: 1px solid black;
	height:31px;
}
.pw_input{
	width:90%;
	height:100%;
	border:none;
	font-size:20px;
	margin-left: 10px;
}



/*버튼*/
.button{
	margin-top:30px;
}
.login_button{
	width: 240px;
    height: 30px;
	background-color: white;
    font-size: 15px;
    font-weight: 900;
    color: black;
    border: 1px solid black;
}

.login_warn{
	margin-top: 30px;
	color: red;
	font-size: 10px;
}
.join{
	width: 240px;
    height: 30px;
    background-color: white;
    font-size: 15px;
    font-weight: 900;
    color: black;
    border: 1px solid black;
    margin-top: 10px;
}

.n_login{
	width: 118px;
    height: 30px;
    background-color: green;
    font-size: 15px;
    font-weight: 900;
    color: white;
    border: 1px solid gray;
    margin-top: 10px;
}
.g_login{
	width: 118px;
    height: 30px;
    background-color: black;
    font-size: 15px;
    font-weight: 900;
    color: white;
    border: 1px solid gray;
    margin-top: 10px;
}

/* 각자 CSS에 추가해줄것- 푸터*/
/*footer*/

.footer1{
	position: absolute;
	bottom: 0;
}
/*footer navi 영역*/
.footer_nav{
	width: 100%;
	height: 50px;
}
.footer_nav_container{
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
}
.footer_nav_container>ul{
	font-weight: bold;
	float: left;
	list-style: none;
	position: relative;
	padding-top: 10px;
	line-height: 27px;
	font-family: dotum;
	margin-left:20px;
}
.footer_nav_container>ul>li{
	display: inline;
	width: 45px;
	height: 19px;
	padding: 10px 9px 0 10px;
}

.footer_nav_container>ul>span{
	margin: 0 4px;
}
/*footer영역*/
.footer{
	width: 100%;
	height: 140px;
	background-color: black;
	padding-bottom: 50px;
	
}

.footer_container{
	width: 100%;
	height: 100%;
	float: left;
	
}
.footer_left>img{
	width: 150%;
	height: 50px;
	float: left;
	margin-top: 5px;
}
.footer_left{
	float: left;
	width: 170px;
	margin-left: 60px;
	margin-top: 30px;
}
.footer_right{
	float: left;
	width: 680px;
	margin-left:140px;
	margin-top: 10px;
	color: white;
}
/*float 속성 해제*/
.clearfix{
	clear: both;
}
/* 여기까지 CSS에 추가해줄것*/
